/*  your css code here. If applicable */
.button{
	background-color: red;
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
.hero{
	background-color: #ffffff;
	width: 600px;
	display: grid;
	justify-content: center;
	
}
.image{
	object-fit: cover;
	width: 200px;
	height: 100px;
}